* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-fundo: #a1c999;
    --cor-texto: #222;
    --cor-primaria: #270216;
    --cor-secundaria: #0648d6;
    --cor-borda: #d9e2ef;
}

html {
    font-size: 20px;
}

body {
    font-family:  BabyScript;
    color: var(--cor-texto);
    background: var(--cor-fundo) ;
    line-height: 1.6;

}

main, header, section, footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px
}

header {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 16px;
    box-shadow: 0 4px 8px rgb(44, 0, 31);
    border-radius: 18px;
    transition: background 0.2s ease, color 0.2s ease;
    background: #ffa60086;
}

a {
    color: var(--cor-primaria);
    text-decoration: none;
    }
    
    a:hover {
    color: var(--cor-secundaria);
    text-decoration: underline;
    font-weight: bold;
    } 

table {
    width: 100%;
    border-collapse: collapse;
    margin-top:16px;
    font-family: Arial, sans-serif;
}

th {
    background-color: #3908ea;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #d9e2ef;
}

td {
    padding: 8px;
    border: 1px solid #d9e2ef;
    text-align: center;
}

tbody tr:hover{
    background-color: #e973b6;
}

tbody tr:nth-child(even){
    background-color: #8408ea;
}